*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home{
    height: 100vh;
    width: 100%;
    background-image: url(1-.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    width: 90%;
    margin: 0 auto;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    width: 40%;
    padding-right: 12vh;
    color: white;
    font-size: 15px;
}
.menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
}
.logo{
    padding-left: 10vh;
}
.logo h1{
    font-size: 25px;
}
.home-main{
    height: 88vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-main h4,h1{
    color: white;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.home-main p{
    width: 65%;
    margin-bottom: 13px;
    color: white;
}
.home-main button{
    padding: 8px 18px;
    color: white;
    background-color: green;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.we-do{
    height: 500px;

}
.we-do-text{
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.we-do-text h1{
    color: black;
    font-size: 22px;
    display: flex;
    justify-content: center;
}
.we-do-text hr{
    height: 4px;
    width: 5%;
    background-color: green;    
}
.blocks{
    width: 60%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.block{
    height: 180px;
    width: 22%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(232, 228, 224);
    background-color: rgb(244, 241, 235);
    font-size: 13px;
    box-shadow: 0 0 10px rgba(113, 101, 101, 0.7);
}
.block h2{
    margin-bottom: 10px;
}
.section{
    height: 400px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.food{
    width: 60%;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.food-right img{
    width: 200px;
    height: 150px;
}
.food-left{
    width: 48%;
}
.food-right{
    width: 48%;
    height: 300px;
    position: relative;
    
}
.img1{
    position: absolute;
    right: 80px;
}
.img2{
    position: absolute;
    bottom: 0px;
    right: 25px;
}
.img3{
    position: absolute;
    top: 75px;
}
.food-left{
    color: white;

}
.food-left p{
    margin-top: 15px;
    font-size: 13px; 
}
.btn{
    display: flex;
    margin-top: 15px;
}
.btn button:nth-of-type(1){
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 20px;
    padding: 9px 12px;
    border: none;
    cursor: pointer;
}
.btn button:nth-of-type(2){
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 20px;
    padding: 9px 12px;
    margin-left: 15px;
    background-color: rgb(27, 216, 27);
    color: white;
    border: none;
    cursor: pointer;
}
.portfolio{
    height: 600px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.our-portfolio{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-portfolio h1{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}
.our-portfolio hr{
    height: 3px;
    width: 30%;
    margin-top: -8px;
    background-color: black;
}
.all{
    width: 100%;
}
.all ul{
    width: 45%;
    margin: 40px auto;
    display: flex;  
    justify-content: space-between;
    list-style: none;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px;
}
.gallery img{
    width: 200px;
    height: 180px;
}
.gallery img img{
    width: 100%;
    height: 100%;
}
.blog{
    height: 500px;
    background-color: rgb(75, 243, 75);
    align-items: center;
    display: flex;
    flex-direction: column;
}
.blog-post{
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-post h2{
    text-transform: uppercase;
}
.blog-post hr{
    height: 3px;
    width: 30%;
    background-color: white;
}
.blog-main{
    height: 400px;
    width: 60%;
    /* margin: 100px auto; */
    display: flex;
    justify-content: space-between;
    
}
.blog-left{
    height: 300px;
    width: 48%;
    background-image: url(3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.text{
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}
.blog-right{
    width: 48%;
    height: 300px;
    position: relative;
}
.right-img1{
    height: 45%;
    width: 100%;
    background-image:  url(2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.right-img2{
    height: 45%;
    width: 100%;
    background-image:  url(2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0px;
}
.text2{
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}
.text3{
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}


.contact{
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-us h1{
    padding-top: 35px;
    color: white;
    font-size: 20px;
}
.contact-us hr{
    height: 4px;
    width: 5%;
    background-color: white;  
}
.contact-main{
    width: 60%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-main-img{
    width: 48%;
    height: 200px;
    
}
.contact-main-form{
    width: 48%;
    height: 200px;
}
.contact-main iframe{
    width: 100%;
    height: 100%;
}

.form-name input:nth-of-type(1){
    width: 48%;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: rgba(25, 25, 25, 0.7);
    color: white;
}
.form-name input:nth-of-type(2){
    width: 48%;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: rgba(25, 25, 25, 0.7);
    color: white;
    
}
.form-name input::placeholder{
    color: white;
}
textarea{
    width: 100%;
    height: 110px;
    padding: 8px 0;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    background-color: rgba(25, 25, 25, 0.7);
    color: white;
}
textarea::placeholder{
    color: white;
}
.message{
    background-color: green;
    border-radius: 15px;
    padding: 8px 18px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}
.form-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.company-name{
    width: 60%;
    margin: 100px auto;
    color: white;
    display: flex;
    justify-content: space-between;
}
.copyright{
    font-size: 11px;
}
.icons{
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.icons i:nth-of-type(1){
    width: 25px;
    height: 25px;
    border: 1px solid green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: rgb(0, 0, 0);
    font-size: 12px;
}
.icons i:nth-of-type(2){
    width: 25px;
    height: 25px;
    border: 1px solid green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: black;
    font-size: 12px;
}
.icons i:nth-of-type(3){
    width: 25px;
    height: 25px;
    border: 1px solid green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: black;
    font-size: 12px;
}
.icons i:nth-of-type(4){
    width: 25px;
    height: 25px;
    border: 1px solid green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: black;
    font-size: 12px;
}